#vesting{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    margin-top: 5rem;
    margin-bottom: -15rem;

    gap: 2rem;

    h1{
        font-weight: bold;
        color: var(--purple);
        span{
            color: var(--background);

            background: linear-gradient(90deg, var(--purple), var(--pink));
            -webkit-background-clip: text;
            -webkit-text-stroke: 3px transparent;
            background-clip: text;
            font-weight: bold;
        }
    }

    >p{
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        span{
            align-self: center;
            margin-right: 0.2rem;
            font-weight: lighter;
            font-size: 0.7rem;
        }
    }

    .section-1, .section-2{
        padding: 2rem;
        background: var(--ultra-dark-purple);
        width: 100%;
        max-width: 800px;

        >p{
            font-size: 1.5rem;
            font-weight: lighter;
        }

        .cards{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            >div{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
           }
        }
    }

    .section-1{
        .cards{
            >div{
                .card{
                    background: var(--dark-purple);
                    padding: 1rem;

                    &#first{
                        display: flex;
                        flex-direction: column;
                        div{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            span{
                                margin-bottom: 1rem;
                                width: 100%;
                                height: 1px;
                                background: #fff;
                            }
                        }
                    }

                    &#second{
                        display: grid;

                        #number{
                            display: flex;
                            justify-content: center;
                        }
                    }

                    &#third{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 0.2rem;
                    }

                }
            }
        }
    }

    .section-2{
        .cards{
            div{
                .card{
                    background: var(--dark-purple);
                    padding: 1rem;

                    &#first, &#second{
                        display: flex;
                        flex-direction: column;
                        div{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            #usdt{
                                display: flex;
                                font-size: 1.5rem;
                                align-items: center;
                                gap: 0.5rem;

                                span{
                                    font-size: 0.8rem;
                                    border: 1px solid #fff;
                                    padding: 0.2rem 0.4rem;
                                    border-radius: 0.4rem;
                                }
                            }

                            #price{
                                font-weight: bold;

                                span{
                                    margin-left: 0.2rem;
                                    font-weight: lighter;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}