.title {
  position: relative;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  text-align: center;

  border: 1px solid #000000;
  color: #9328ff;
}
