#swap-area {
  background: var(--ultra-dark-purple);
  width: 100%;
  padding: 2rem;

  display: grid;
  gap: 1rem;

  position: relative;

  margin-bottom: 1rem;

  border-radius: 0.2rem;

  #select-token-area {
    height: 200px;
    background: var(--dark-purple);
    padding: 1rem;

    div {
      display: flex;
      justify-content: space-between;

      button {
        font-size: 0.8rem;
        width: 60%;
        height: 20px;
      }

      p {
        color: var(--purple);
        font-weight: lighter;
      }
    }
  }

  #target-token-area {
    height: 200px;
    background: var(--dark-purple);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    #swap-arrow {
      background: var(--purple);
      width: 50px;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2rem;

      color: #fff;

      position: absolute;
      left: 0;
      right: 0;
      top: -10;
      margin-left: auto;
      margin-right: auto;
      margin-top: -35px;
    }

    #passive-quantity {
      display: flex;
      justify-content: flex-end;
    }

    p#logo {
      font-weight: bold;
      margin-bottom: auto;
    }

    #footer {
      display: flex;
      margin-top: auto;
      align-items: flex-end;
      line-height: 0;

      p {
        font-weight: lighter;
      }
    }
  }

  #swap-area-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #left-text {
      p {
        font-weight: lighter;
        font-size: 0.8rem;
      }
    }

    #gear-icon {
      color: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
