.content {
  position: relative;
  top: 100px;
}

.titleCard {
  position: relative;
  top: 110px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.subTitleCard {
  position: relative;
  top: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.box1 {
  padding: 20px;
}
