#vesting-button{
    display: flex;
    justify-content: stretch;
    margin-top: 1rem;

    button{
        padding: 1rem;
        background: var(--purple);
        border: 0;
        width: 100%;
        transition: 0.2s ease-in-out;
    
        &.outlined{
            background: transparent;
            border: 1px solid var(--purple);

            &:hover{
                background: var(--purple);
                color: #fff;
            }
        }

        &.default{

            &:hover{
                filter:  brightness(0.8);
            }
        }

    }
}