.title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 200px;
}
.subtitle {
  position: relative;
  height: 78px;
  top: 248px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;
  display: block;
}
.subtitle_02 {
  position: relative;
  height: 78px;
  top: 200px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;
  display: block;
}

.paragraph {
  position: relative;
  top: 200px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.buttonBuy {
  position: relative;
  width: 200px;
  height: 42px;
  top: 250px;
  padding: 5px;
  background: #7f00ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.buttonBuy:hover {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.sublim {
  width: 25%;
  height: auto;
  position: relative;
  bottom: 106px;
  left: 371px;
}
.bg {
  background-image: url('../../../../assets/background_home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container_Banner {
  position: relative;
  bottom: 52px;
}

.subtitle_mobile {
  visibility: hidden;
  display: none;
}

@media (max-width: 768px) {
  .subtitle {
    visibility: hidden;
    display: none;
  }

  .subtitle_02 {
    visibility: hidden;
    display: none;
  }

  .subtitle_mobile {
    visibility: visible;
    position: relative;
    font-size: 17px;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
}
